  <div class="user-details">
    <h1>Apresentação</h1>
      <p> {{site.user_description}}</p>
  </div>
  <h4><a href = "/assets/documents/CV-VictorGois-20192.pdf"> Meu currículo completo está disponível aqui</a></h4>
  <div class="user-details">
    <h1> Competências </h1>
  </div>
  <div class="user-details">
    
    <div class="tech">
      <h2>Desenvolvimento Web</h2>
      <i class="devicon-python-plain-wordmark colored" style="font-size:64px"></i>
      <i class="devicon-react-original colored" style="font-size:64px"></i>
      <i class="devicon-nodejs-plain colored" style="font-size:64px"></i>
      <i class="devicon-css3-plain-wordmark colored" style="font-size:64px"></i>
      <i class="devicon-wordpress-plain-wordmark colored" style="font-size:64px"></i>

    <p>Desenvolvimento de Sites e Apps Web</p>
    </div>
    
    <div class="tech">
      <h2>Design e Criação Digital</h2>
      <i class="devicon-photoshop-line colored" style="font-size:64px"></i>
      <i class="icon-adb-aftereffects" style="font-size:64px"></i>
      <i class="icon-adb-premiere" style="font-size:64px"></i>
      <i class="devicon-illustrator-line colored" style="font-size:64px"></i>

    <p>Edição e criação de imagem com Photoshop; Edição de vídeo com Premiere e Motion graphics com After Effects</p>
    </div>

    <div class="tech">
      <h2>Utilização das Ferramentas mais difundidas</h2>
      <i class="devicon-git-plain-wordmark colored" style="font-size:64px"></i>
      <i class="devicon-trello-plain colored" style="font-size:64px"></i>
      <i class="devicon-visualstudio-plain colored" style="font-size:64px"></i>
      <i class="devicon-google-plain-wordmark colored" style="font-size:64px"></i>


    <p>Gerenciamento de versões com Git; Gestão de projetos com Trello; Integração Git + VSCode</p>
    </div>

</div>
