 <div class="user-details">
  <h1> Áreas de Atuação </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-photoshop-line colored"></i>
      <i class="fas fa-video"></i>

    <p>Edição e criação de imagem com Photoshop; Edição de vídeo com Premiere e Motion graphics com After Effects</p>
    </div>
    
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-wordpress-plain"></i>
      <i class="devicon-html5-plain-wordmark colored"></i>
    <p>Desenvolvimento Web e Web Design; Criação e gerenciamento de sites Wordpress</p>
    </div>
    
    <div class="tech">
      <h2>Inteligência e Informação</h2>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-d3js-plain colored"></i>
    <p>Gerenciamento de dados e versões de trabalho usando Git; Visualização de Dados com D3</p>

    </div>
</div>
