<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:victorgois18@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Medium" target="_blank" href="http://medium.com/dgtl-mente"><i class="icon fa fa-medium" aria-hidden="true"></i></a>
        <a aria-label="My Linkedin" target="_blank" href="http://linkedin.com/in/victorgoisp/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/victorgois"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My YouTube" target="_blank" href="https://www.youtube.com/channel/UCklJJvb043h5KB7kZ2-tO3Q"><i class="icon fa fa-youtube-play" aria-hidden="true"></i></a>
        <a aria-label="My Podcast" target="_blank" href="https://open.spotify.com/show/4BjK27fOYRykmTp10yyKtJ"><i class="icon fa fa-spotify" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>Sobre Mim</a>
        <a class="link" href="#projects" data-scroll>Aplicativos</a>
        <a class="link" href="https://victorgois.github.io/Web-Sites/" data-scroll>Projetos Web</a>
        <a class="link" href="#projects" data-scroll>Jornalismo de Dados</a>
        <a class="link" href="#projects" data-scroll>TimeLines</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
