<div class="user-details">
  <h1> Projetos Comunicação Digital </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/twist.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Digitalmente </h3>
    <ul>
    </ul>
    <p>O digitalmente é um projeto de comunicação multimídia para reunir pessoas e discutir questões sobre o nosso presente que estão moldando o nosso futuro. Nesse projeto, eu escrevo, gravo, edito, animo e produzo uma série de vídeos para o YouTube onde discuto tecnologia, política, cultura, filosofia e comunicação.</p>
    <a class="project-link" href="https://www.youtube.com/channel/UCklJJvb043h5KB7kZ2-tO3Q?view_as=subscriber">Confira</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/print-hashtags.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
  <h1> Projetos Web </h1>  
    <h3> Hashtag Mediation </h3>
    <ul>
    </ul>
    <p>Site e TimeLine produzidos para a tese de doutorado “A função mediadora das hashtags no processo de impeachment de Dilma Rousseff: semiose e transmídia”, desenvolvida por Luciana Andrade Gomes Bicalho </p>
    <a class="project-link" href="http://hashtagsmediation.com.br">Confira</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/ondas.gif" | prepend: site.baseurl }}" />
  </div>
<div class="contents">
  <h3> Transmedia Education </h3>
    <ul>
    </ul>
    <p>Projeto de Cooperação Internacional para escolas públicas de países de língua portuguesa promovido pela Universidade Federal de Minas Gerais (UFMG) e instituições parceiras. A Educação Transmídia trata-se de um conceito que visa a criação de ações educacionais por meio de múltiplas plataformas, integrando as dinâmicas online e offline.
    </p>
    <a class="project-link" href="https://transmediaeducation.com.br">Confira</a>
</div>
</div>
<div class="user-projects">
 <div class="images-left">
   <img alt="mountains" src="{{ "/assets/img/logo-mediaacao.png" | prepend: site.baseurl }}" />
 </div>
<div class="contents-right">
  <h3> MediaAção</h3>
  <ul>
  </ul>
  <p>É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de letras, ao contrário de "Conteúdo aqui, conteúdo aqui", fazendo com que ele tenha uma aparência similar a de um texto legível. Muitos softwares de publicação e editores de páginas na internet agora usam Lorem Ipsum como texto-modelo padrão, e uma rápida busca por 'lorem ipsum' mostra vários websites ainda em sua fase de construção. Várias versões novas surgiram ao longo dos anos, eventualmente por acidente, e às vezes de propósito (injetando humor, e coisas do gênero).</p>
  <a class="project-link" href="http://mediaacao.com.br">Confira</a>
</div>
</div>
<div class ="user-projects">
<div class="contents-center">  
  <h2> TimeLines </h2>
    <ul>
    <ul>
    <p></p>
</div>
</div>
<a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
<iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1Q1KUPIYLNsTSozRWBfnaVwZ2dWUD96kk-AIRKxGuLMI&font=Default&lang=pt-br&initial_zoom=2&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
<u>
</u>
<iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1tnpDtGNfDkQLMnfaG9P00rY8D7JgvhIdMSSyAdcafho&font=Roboto-Megrim&lang=pt-br&initial_zoom=2&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
<u>
</u>
<iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1-OpEZEQTfehKXt58NUze_LxnJg4yyeQYaVLYTtheGUw&font=Lustria-Lato&lang=pt-br&initial_zoom=2&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
<div class="contents-center">
    <a aria-label="Send email" href="mailto:victorgois18@gmail.com"><i class="icon fa fa-envelope"></i></a>
    <a aria-label="My Twitter" target="_blank" href="https://twitter.com/victorgoisp"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>  
    <a aria-label="My Google Plus" target="_blank" href="http://medium.com/dgtl-mente"><i class="icon fa fa-medium" aria-hidden="true"></i></a>
    <a aria-label="My Github" target="_blank" href="https://github.com/victorgois"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
</div>

