<div class="user-details">
  <h1> Projetos Comunicação Digital </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/animacao.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Digitalmente </h3>
    <ul>
    </ul>
    <p>O digitalmente é um projeto de comunicação multimídia para reunir pessoas e discutir questões sobre o nosso presente que estão moldando o nosso futuro. Nesse projeto, eu escrevo, gravo, edito, animo e produzo uma série de vídeos para o YouTube onde discuto tecnologia, política, cultura, filosofia e comunicação.</p>
    <a class="project-link" href="https://www.youtube.com/channel/UCklJJvb043h5KB7kZ2-tO3Q?view_as=subscriber">Confira</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/print-hashtags.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
  <h1> Projetos Web </h1>  
    <h3> Hashtag Mediation </h3>
    <ul>
    </ul>
    <p>Site e TimeLine produzidos para a tese de doutorado “A função mediadora das hashtags no processo de impeachment de Dilma Rousseff: semiose e transmídia”, desenvolvida por Luciana Andrade Gomes Bicalho </p>
    <a class="project-link" href="http://hashtagsmediation.com.br">Confira</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/favicon-transmedia.png" | prepend: site.baseurl }}" />
  </div>
<div class="contents">
  <h3> Transmedia Education </h3>
    <ul>
    </ul>
    <p>Projeto de Cooperação Internacional para escolas públicas de países de língua portuguesa promovido pela Universidade Federal de Minas Gerais (UFMG) e instituições parceiras. A Educação Transmídia trata-se de um conceito que visa a criação de ações educacionais por meio de múltiplas plataformas, integrando as dinâmicas online e offline.
    </p>
    <a class="project-link" href="https://transmediaeducation.com.br">Confira</a>
</div>
</div>
<div class="user-projects">
 <div class="images-left">
   <img alt="mountains" src="{{ "/assets/img/logo-mediaacao.png" | prepend: site.baseurl }}" />
 </div>
<div class="contents-right">
  <h3> MediaAção</h3>
  <ul>
  </ul>
  <p>O subgrupo MediaAção é vinculado ao Núcleo de Conexões Intermídia (NucCon) e reúne pesquisas de pós-doutorado, doutorado, mestrado e iniciação científica com ênfase na noção de mediação observada pelo prisma da semiótica e do pragmatismo peirceano. São também conceitos caros às investigações em curso: mídia, intermídia, transmídia; dispositivo; rede sociotécnica; agenciamentos semióticos e sociotécnicos; engajamento e mobilização social; apropriação/ressignificação tecnológica.</p>
  <a class="project-link" href="http://mediaacao.com.br">Confira</a>
</div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="isf" src="{{ "/assets/img/logo-isf-1024x341.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Internet sem Fronteiras </h3>
    <ul>
    </ul>
    <p>A Internet Sem Fronteiras – Brasil é uma organização sem fins lucrativos membro da rede internacional Internet Sans Frontières (ISF), que tem base na França. A rede defende a participação cidadã e a liberdade de expressão online e atua desde 2007 com várias frentes pelo mundo. Na Europa e na África, desenvolveu projetos de capacitação em jornalismo e segurança de dados.</p>
    <a class="project-link" href="http://internetsemfronteiras.org.br/site">Confira</a>
  </div>
</div>
